<template>
  <div class="list-view">
    <div v-if="memos && memos.length !== 0">
      <list-item
        v-for="memo in memos"
        :memo="memo">
      </list-item>
    </div>
    <div v-else>
      表示できるメモがありません。
    </div>
  </div>
</template>

<script>
import ListItem from './ListItem'
export default {
  name: 'ListView',
  props: {
    memos: Array
  },
  components: {
    ListItem
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
.list-item
  width: 300px

</style>
