<template>
  <div class="list-item">
    <div>
      <span class="title">id</span>：
      <span class="data">{{memo.id}}</span>
    </div>
    <div>
      <span class="title">text</span>：
      <span class="data">{{memo.text}}</span>
    </div>
    <div>
      <span class="title">date</span>：
      <span class="data">{{memo.date}}</span>
    </div>
    <div>
      <span class="title">tags</span>：
      <span class="data">
        <span v-for="tag in memo.tags">{{tag}}</span>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ListItem',
  props: {
    memo: Object
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
.list-item
  width: 300px

</style>
