<template>
  <div id="app">
      <editor-view @add="add"></editor-view>
      <list-view :memos="memos"></list-view>
  </div>
</template>

<script>
import EditorView from './components/EditorView'
import ListView from './components/ListView'

export default {
  name: 'app',
  components: {
    EditorView,
    ListView
  },
  data() {
    return {
      memos: []
    }
  },
  methods: {
    add(newMemo) {
      newMemo.id = this.nextId
      this.memos.push(newMemo)
    },
  },
  computed: {
    nextId() {
      // this.memos の中で一番大きい id + 1 を返す
      return this.memos.reduce((id, memo) => {
          return id < memo.id ? memo.id : id
        }, 0) + 1
    }
  }
}
</script>

<style lang="sass">
#app
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: #2c3e50
  margin-top: 60px
</style>
